.menulist{
 margin-top: 2;
 padding: 1px;
 display:none;

 background: #D4D0C8 ;
 border: 1px solid #665544;
}
.menulist a {
 display: block;
 color: #000;
 text-decoration: none;
  padding: 3px 24px 3px 15px;
 margin: 0;
 	font-family : Arial,Vernada, Tahoma, Helvetica, sans-serif;
	font-size: 12px;
 }
.menulist a:hover, .menulist a:hover.highlighted, .menulist a:focus {
 color: #FFF;
 background-color: #46A;
 margin: 0;
}